<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Layout</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootswatch/dist/sandstone/bootstrap.css}">
</head>
<body>
    <!-- Header -->
    <div th:replace="~{fragments/UserHeader::header(title=${title})}"></div>
    
    <!-- Main Content -->
    <div class="container " th:insert="~{::content}">
    </div>
    <!-- Footer -->
    <div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>
