<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript"></script>
</head>
<body>
 <header>
     <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Gestion des documents</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
              aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/admin/home">Home
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/documents">Documents Management</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/authors">Authors Management</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/categories">Categories Management</a>
                </li>
    
              </ul>
              <!--logout form for logged users-->
              <ul class="navbar-nav ms-auto me-4" sec:authorize="isAuthenticated()">
            <!-- <ul class="navbar-nav ms-auto me-4"> -->
              <li class="nav-item">
                <form th:action="@{/logout}" method="post" class="row">
                  <div class="col">
                    <span class="text-secondary" sec:authentication="name"></span>
                    <span class="text-secondary" sec:authentication="principal.authorities">ROLE</span>
                  </div>
                  <input class="btn btn-danger col" type="submit" value="Logout" />
                </form>
              </li>
            </ul>
             
        </nav>
      <h1 class="container" th:text="${title}">Default title</h1>
 </header>
</body>
</html>
