<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript"></script>
</head>
<body>
 <header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Welcome</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/ListeDocumentUser/AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        
                    </ul>
                    <!-- Bouton Connexion pour les utilisateurs non authentifiés -->
                    <ul class="navbar-nav ms-auto me-4" sec:authorize="!isAuthenticated()">
                        <li class="nav-item">
                            <form th:action="@{/login}" method="get" class="row">
                                <input class="btn btn-danger col" type="submit" value="Connexion" />
                            </form>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <h1 class="container mt-3 text-center" th:text="${title}">Bienvenue</h1>
    </header>
   
</body>
</html>
