<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:replace="layout/default-layout::link" />
</head>
<body th:replace="layout/default-layout::body(title='Ajouter une Catégorie')">

    <div th:fragment="content">
        <div class="container mt-5">
            <div class="row mb-3">
                <div class="col">
                    <form action="/categories" method="get">
                        <button type="submit" class="btn btn-secondary">
                            <i class="bi bi-arrow-left me-2"></i>Back
                        </button>
                    </form>
                </div>
            </div>
            
            <form action="#" th:action="@{/categories/save}" th:object="${category}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Nom de la Catégorie :</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control" />
                    <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>