<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:replace="layout/user-layout::link" />
</head>

<body th:replace="layout/user-layout::body(title='Détails du Document')">

    <div th:fragment="content">
        <div class="page-content">
            

            <div class="document-details">
                <h3 th:text="${document.title}"></h3>
                <p><strong>Auteur :</strong> <span th:text="${document.author.name}"></span></p>
                <p><strong>Catégorie :</strong> <span th:text="${document.category.name}"></span></p>
                <p><strong>Thème :</strong> <span th:text="${document.theme}"></span></p>
                <p><strong>Langue :</strong> <span th:text="${document.language}"></span></p>
                <p><strong>Date de publication :</strong> <span th:text="${#dates.format(document.publishDate, 'yyyy-MM-dd')}"></span></p>
                <p><strong>Résumé :</strong> <span th:text="${document.summary}"></span></p>
                <p><strong>Format :</strong> <span th:text="${document.fileFormat}"></span></p>
                <p><strong>Mots-Clés :</strong> <span th:text="${document.keywords}"></span></p>
                <div class="actions">
                    <a th:href="@{/ListeDocumentUser/download/{id}(id=${document.id})}" class="button">Télécharger le fichier</a>
                    <a href="/documents" class="button secondary">Retour</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
