<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <link th:replace="layout/default-layout::link" />
</head>

<body th:replace="layout/default-layout::body(title='')">
  <div th:fragment="content">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-primary text-white text-center">
              <h2 class="text-center mb-0">Connexion à l'espace d'administration</h2>
            </div>
            <div class="card-body">
              <form th:action="@{/login}" method="post">
                <div th:if="${param.error}" class="alert alert-dark" role="alert">
                  Invalid username or password.
                </div>
                <div th:if="${param.logout}" class="alert alert-dark" role="alert">
                  You have been logged out.
                </div>
                <div class="mb-3">
                  <label for="username" class="form-label">Nom d'utilisateur</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                    <input type="text" id="username" name="username" class="form-control" required 
                           placeholder="Entrez votre nom d'utilisateur" />
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Mot de passe</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="password" id="password" name="password" class="form-control" required 
                           placeholder="Entrez votre mot de passe" />
                  </div>
                </div>
                <div class="form-check mb-3">
                  <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me">
                  <label class="form-check-label" for="rememberMe">Rester connecté</label>
                </div>
                <button type="submit" class="btn btn-light w-100">
                  <i class="bi bi-box-arrow-in-right me-2"></i>Se connecter
                </button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>